---
layout: default
---
<section id="article">
  <div class="main_animated">
    <h3 class="anim_1">Articles</h3>
    <hr>
  <div class="wrapper">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col">
        <div class="hovereffect anim_2">
          <img class="pure-img" src="/images/Frida-Kahlo.jpg" alt="">
          <div class="overlay">
            <h2>Obsession, danger and absolutely no sex: Why every woman needs a muse <br>by Kim Devereux</h2>
            <p>
              <a href="http://www.telegraph.co.uk/women/womens-life/11706461/Artists-muse-Why-every-woman-needs-one.html" class="waves-effect waves-light btn" target="_blank">open</a>
            </p>
          </div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col">
        <div class="hovereffect anim_2">
          <img class="pure-img" src="/images/kim_bour_image.jpg" alt="">
          <div class="overlay">
            <h2>From film-maker to novelist</h2>
            <p>
              <a class="waves-effect waves-light btn popup-with-zoom-anim" href="#small-dialog">open</a>
              <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
            <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
              <div class="wrapper">
                <h1>From film-maker to novelist</h1>
                <p class="title">KIM DEVEREUX • 06 July 2015</p>
                <p class="title">Kim Devereux could not get her Rembrandt project filmed - so she wrote it as a novel.</p>
                <p>Some writers are born holding a pen. However, I did not craft my first short story at the age of five, nor did I spend my teenage years writing witty diaries. I embarked in my mid-40s on a creative writing course out of frustration with the TV industry and with a raison d'etre that boiled down to being an excellent reader of bedtime stories.</p>
                <p>The only hurdle: the last time I'd written narrative prose was in secondary school in Germany, crafting multi-clause sentences as long as my arm. So, you can imagine, I was a little surprised to be "allowed" onto the prestigious Bath Spa MA. Even more exciting, two years later Margaret Stead at Atlantic bought my debut novel, Rembrandt's Mirror.</p>
                <p>Despite my low expectations vis-à-vis my writing skills I still managed to be a snob, because as a film-maker I had always looked down on writing as a lesser medium. Film was full of potential as an art form, uniting story with visuals and sound.</p>
                <p>My brain has always been attracted to complexity, or perhaps I should say complication. When I made my first short film, 10 Bulls (https://vimeo.com/90628442), I was drawn to special effects, like a magpie to lametta. The film went on to win awards, but it took an embarrassing number of years to make. Special effects on a small budget mean you had better come equipped with supernatural powers of persuasion and time to wait for all those favours.</p>
                <p>But film truly is fun; you can enjoy weird locations. We shot in a cooling tower, for example, and I had a motion control rig to play with. And then there are the actors, Amazingly, they'll do almost anything you tell them to do. The only drawback is the technology, which will unfailingly let you down at the precise moment you are the furthest away from civilisation.</p>
                <img class="pure-img" src="/images/kim_bour_image.jpg" alt="" />
                <p class="title">Tea and a laptop</p>
                <p>ou can probably see where this is going. I soon discovered some advantages to writing novels - mainly the comfort of a cup of tea by the laptop. And I soon learned to draw on the experience I'd gained writing two screenplays. I closed my eyes and let the characters loose in my mind. For example, I imagined Rembrandt and his lover and muse Hendrickje sitting together in the evening. He is drawing, she is doing needlework, and getting increasingly bored and annoyed with him not paying her any attention. If a scene like this lacked something, I thought of how to spice it up visually. Maybe if their breaths condensed in the air because it was so cold or they could try to light the fire only to find that the northerly wind was preventing the chimney from drawing, belching plumes of smoke into the room. The fire wasn't going anywhere, but the scene was beginning to cook.</p>
                <p>It dawned on me that almost everything I'd done somehow proved useful to the task of writing a novel, which is some consolation after years climbing (or trying to) the slippery slope of a career in TV.</p>
                <p>But most of all there is no need for special effects or a large crew (all of whom constantly want bacon butties, biscuits and bananas). Readers are capable of imagining absolutely anything in an instant, and they even feed themselves! In short, the creative possibilities of the written word are endless as well as effortless (apart from the task of coming up with prime prose in the first place).</p>
                <p class="title">Why Rembrandt?</p>
                <p>I first became hooked in my early 20s when I saw his Self-Portrait at the Age of 63 at the National Gallery in London. I remained in front of it for a long time. Something was so moving about this relentless depiction of his own aging face and his steady gaze amid the wrinkles and sagging flesh. All this he must have observed so carefully in a mirror. He'd painted his own decay, and yet it was somehow magnificent too, the pose full of dignity and strength.</p>
                <p>Who these days would manage to take a selfie that highlights their own decrepitude and turns it into a triumph at the same time? The late self-portraits do just that. Rembrandt looks at himself in the mirror and seen his own mortal transience and then reproduces it for us all to see. This act of baring his soul and his wrinkles makes us feel he is being honest with himself and with us, and maybe invites us to be honest too about what it means that we will die one day.</p>
                <p>I puzzled over the fact that he'd suffered severe losses towards the end of his life and still managed to paint breathtaking images full of love and beauty. It is the question that drove me to write Rembrandt's Mirror - how we can come through loss and still find love.</p>
              </div>
            </div>
            </p>
          </div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col">
        <div class="hovereffect anim_2">
          <img class="pure-img" src="/images/kim1-article.jpg" alt="">
          <div class="overlay">
            <h2>In praise of writing in English as a ‘foreign’ language</h2>
            <p>
              <a href="https://curtisbrownbookgroup.co.uk/2015/08/26/in-praise-of-writing-in-english-as-a-foreign-language-by-kim-devereux/" class="waves-effect waves-light btn" target="_blank">open</a>
            </p>
          </div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col">
        <div class="hovereffect anim_2">
          <img class="pure-img" src="/images/article-rude_awakening.jpg" alt="">
          <div class="overlay">
            <h2>Rude awakening: Three essential rules for writing good sex</h2>
            <p>
              <a href="https://www.theguardian.com/books/booksblog/2015/aug/28/rude-awakening-three-essential-rules-for-writing-good-sex" class="waves-effect waves-light btn" target="_blank">open</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
