---
layout: default
---


<section id="book_club">
  <div class="wrapper main_animated">
    <h3 class="anim_1">Book Club Questions</h3>
    <hr>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_1">
        <ul>
          <blockquote class="anim_1"><li>Is Rembrandt a sympathetic character or a self-centred genius?</li></blockquote>
          <blockquote class="anim_1"><li>The novel is narrated from two perspectives; first person narration from the point of view of Hendrickje Stoffels who works in Rembrandt’s house as a maid and third person narration. Who might the third person narrator be? What effect do the two different styles of narration have on  the telling of the story?</li></blockquote>
          <blockquote class="anim_1"><li>Would you have rather lived as Rembrandt or Hendrickje?</li></blockquote>
          <blockquote class="anim_1"><li>How far should a historical novel stray from the facts (if at all)?</li></blockquote>
          <blockquote class="anim_1"><li>Why did Rembrandt paint and draw himself at least seventy-seven times throughout his life?</li></blockquote>
          <blockquote class="anim_1"><li>Part IV of the novel used to be called ‘Epilogue’. Would it have made any difference?</li></blockquote>
          <blockquote class="anim_1"><li>What would you have done if the man/woman you love had done something you find morally abhorrent?</li></blockquote>
          <blockquote class="anim_1"><li>How explicit or veiled should love scenes be in literary fiction?</li></blockquote>
          <blockquote class="anim_1"><li>Which part of the novel did you find the most difficult to read and why?</li></blockquote>
          <blockquote class="anim_1"><li>Which part of the novel did you find the most moving to read and why?</li></blockquote>
        </ul>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_2">

        <div class="card anim_2">
            <div class="card-image">
              <img  class="pure-img"src="/images/radio_interview1.jpg">
            </div>
            <div class="card-content">
              <p class="anim_1">Rembrandt’s Studio</p>
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
