---
layout: default
---


<section id="characters">
  <div class="wrapper">
    <div class="main_animated">
      <h3 class="anim_1">Historical characters in Rembrandt’s Mirror</h3>
      <hr>
    </div>
    <div class="pure-g col">
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 anim_2 col_1">

        <h3 class="title">Rembrandt va n Rijn (1606–69)</h3>
        <p>&emsp;  We know a great deal about Rembrandt’s life. This is largely thanks to hundreds of historical documents that have been discovered in archives. Many are related to Rembrandt’s numerous legal proceed- ings. They include an inventory that was drawn up of his possessions when he filed for Cessio Bonorum. Other sources of information are writings by contemporaries, such as Samuel van Hoogstraten, or the works themselves.</p>
        <p>&emsp;  Some art historians believe that the change in style and drop in Rembrandt’s output after Saskia’s death was the result of some kind of breakdown but Ernst van de Wetering, the chair of the Rembrandt Research Project, argues that Rembrandt’s work changed as a result of his artistic process – he had pushed his style of dramatic light and dark to such an extreme that it meant he had to sacrifice too much pictorial detail and texture in order to achieve extreme spotlight effects. Consequently he had to find a new approach. It is impossible to know with certainty what motivated his artistic choices.</p>
        <p>&emsp;  What we do know is that towards the end of his life, with the onset of old age and the experience of severe personal losses, his art lost nothing of its potency. If anything, he seems to have delved even deeper into what it means to be human and his late works are con- sidered to be amongst the most moving and timeless works of art ever created.</p>


      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_2">
        <h3 class="title">Hendrickje Stoff els (c.1626–63)</h3>
        <img class="pure-img" src="/images/Hendrickje_and_candle.png" alt="" />
        <p>&emsp;  Hendrickje entered Rembrandt’s  household in 1647/8.  Her date of birth is usually given as about 1626 (genealogy   directory of Bredevoort); however in a document from 1661 she declared she was thirty-eight, which would make her year of birth 1623. Either way she would have been in her early twenties when she entered Rembrandt’s workshop. Hendrickje was the youngest of four chil- dren. She had two brothers and one sister.</p>
        <p>&emsp;  Her father died in July 1646, possibly  the victim of an explosion of the gunpowder tower in Bredevoort. In January 1647, after half a year of mourning, her mother, Mechteld Lamberts, married a  neighbour, Jacob van Dorsten, a widower with three young children. As a consequence of her mother’s marriage, Hendrickje seems to have left home for Amsterdam.</p>


      </div>

      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_1">
        <h3 class="title">Saskia, née va n  Uylenbu rg h (1612–42)</h3>
        <p>&emsp;  Saskia married Rembrandt in 1634.  She was twenty-two and he twenty-eight years old. She died seven years later, probably of tuber- culosis, after the birth of their fourth child, Titus. In the preceding years she suffered several bouts of illness, confining her to bed for many months. Their three children born prior to Titus all died within weeks of being born.</p>
      </div>

      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_2">
        <h3 class="title">Sam uel va n Hoogstraten  (1627–78)</h3>
        <p>&emsp;  Samuel studied with Rembrandt between 1642/3–1646/7 (according to Thijs Weststeijn, although other sources suggest he may have been with Rembrandt as early as 1640). We know he had returned to his native Dordrecht by January 1648. Having spent between five and seven years in Rembrandt’s workshop, he was one of the longest- staying pupils. His writings are a source of information about Rembrandt’s views on art and painting. Samuel wrote a book entitled Introduction to the Academy of Painting, or the Visible World (original title: Inleyding tot de hooge schoole der schilderkonst:  anders de zichtbaere werelt). And it seems likely that some of the content is based on the methods and theories Rembrandt taught in his workshop.</p>
      </div>

      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_1">
        <h3 class="title">Geer tje Dirc x (c.1610–c.56)</h3>
        <p>&emsp;  Geertje grew up in a modest family in Edam. It is unclear when exactly she entered Rembrandt’s household. It is likely that she was hired in 1641, the year before Saskia’s death, to help look after baby Titus. It has been suggested that she is the model of Woman in a Bed (Scottish National Gallery) but there is no evidence that she was the model for any of Rembrandt’s works.</p>
      </div>

      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_2">
        <h3 class="title">T itus va n Rijn (1641–68)</h3>
        <p>&emsp;  Titus was named after Saskia’s sister Titia. On 28 February 1668 he married Magdalena van Loo but died soon after on 4 September 1668 and was buried in the Westerkerk in Amsterdam. His wife and Rembrandt both died a year later. Magdalena gave birth to their daughter, Titia, six months after Titus’s death. Titia had no children and died in 1715. She was the last of Rembrandt’s descendants.</p>
      </div>

      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_1">
        <h3 class="title">Cor nelia  va n Rijn (1654–84)</h3>
        <p>&emsp;  In 1670, at the age of sixteen Cornelia married Cornelis Suythof and together they emigrated to Batavia, Indonesia. She gave birth to a boy in 1673, called Rembrandt  Suythof. She had another boy in 1678, Hendric Suythof. Neither of them had children of their own.</p>
      </div>

      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_2">
        <h3 class="title">J a n Six (1618–1700)</h3>
        <p>&emsp;  Jan Six was the wealthy son of a merchant family and a patron of the arts who had a long association with Rembrandt. In 1655, through his marriage to Margaretha Tulp, he became the son-in-law of Nicolaes Tulp – the surgeon and then mayor of Amsterdam. Six himself became mayor of Amsterdam in 1691 at the age of seventy- three.</p>
      </div>

      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_1">
        <h3 class="title">Pupils</h3>
        <p>&emsp;  Rembrandt had a great many pupils throughout his working life. Most of them had already completed an apprenticeship with another painter before joining Rembrandt’s workshop, finishing their educa- tion by learning his style of painting, which was very popular for many years. When fashions changed many adopted the popular style of detailed brushwork. However, Rembrandt never pandered to contemporary tastes.</p>
      </div>


    </div>

  </div>
</section>
