---
layout: default
---
<section id="contanct">
  <div class="wrapper">
    <div class="main_animated">
      <h3 class="anim_1">Contact Us</h3>
      <hr>
    </div>
      <div class="pure-g form">
        <div class="col-1 pure-u-1 pure-u-md-1-1 pure-u-lg-1-2">
          <div class="pure g">
            <form action="https://formspree.io/kim@kimdevereux.co.uk" method="POST">
              <div class="pure-g">
                <div class="form pure-u-1 pure-u-md-1-1 pure-u-lg-1-2">
                  <input class="input" type="text" name="name" placeholder="Name *" required>
                </div>
                <div class="form pure-u-1 pure-u-md-1-1 pure-u-lg-1-2">
                  <input class="input" type="text" name="email" placeholder="E-mail *" required>
                </div>
                <div class="form pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                  <input class="input mess" type="text" name="message" placeholder="Message *" required>
                </div>
              </div>
              <div class="but pure-u-1 pure-u-md-1-1 pure-u-lg-1-1">
                <button class="but" type="submit">send</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col_2 pure-u-1 pure-u-md-1-1 pure-u-lg-1-2">
          <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-2">
              <h5>Literary representation</h5>
              <hr>
              <p>Karolina Sutton, Curtis Brown</p>
              <p>suttonoffice@curtisbrown.co.uk</p>
              <p>020 7393 4428</p>
            </div>
            <div class="pure-u-1 pure-u-md-1-1 pure-u-lg-1-2">
              <h5>Media Enquiries</h5>
              <hr>
              <p>Ruth Killick Publicity</p>
              <p>Abbey Lodge, Tintern</p>
              <p>Monmouthshire NP16 6SF</p>
              <p>01291 680319 / 07880703741</p>
              <p>www.ruthkillick.co.uk</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
