---
layout: default
---
<section id="events">
  <div class="wrapper">
    <div class="main_animated">
      <h3 class="anim_1">Events</h3>
      <hr>
    <div class="pure-g col">
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 anim_2 col_1">
        <h3>How Rembrandt moves us</h3>
        <p class="title">5h September 2016</p>
        <p class="title">Lecture at The National Gallery, London</p>
        <p>Art-historian and novelist Kim Devereux delves into Rembrandt’s unconventional approach to his life and his work that inspired her novel Rembrandt’s Mirror. She explores the inventiveness of his technique and the painter's interest in the ordinary and even the ‘ugly’. What lies at the heart of Rembrandt’s power to move us?</p>
        <p>Devereux reflects on what she has learned, as a writer, from Rembrandt’s approach, partly thanks to the writings of Rembrandt’s pupil Samuel van Hoogstraten. His reflections illuminate the intentions behind his master's so-called rough manner and - in doing so - the cognitive processes that take place when our minds enter into a intimate dialogue with a masterpiece.</p>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_2">
        <div class="card anim_2">
            <div class="card-image">
              <img  class="pure-img"src="/images/event.jpg">
            </div>
            <div class="card-content">
              <p class="anim_1">"A young Woman sleeping", about 1654.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
