---
layout: default
---

<section id="extracts">
  <div class="main_animated">
    <h3 class="anim_1">Extracts</h3>
    <hr>
  </div>
  <div class="wrapper">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_1">
        <div class="card">
          <div class="card-image">
            <img src="/images/extracts.png">
          </div>
          <div class="card-content">
            <p><strong>Audiobook sample:</strong> Read by <span>Pippa Nixon</span></p>
            <br>
            <audio controls preload="auto">
              <source src="/mp3/Rembrandts_Mirror_Clip_No_In.m4a">
              <source src="/mp3/Rembrandts_Mirror_Clip_No_In.ogg">
              <source src="/mp3/Rembrandts_Mirror_Clip_No_In.wav">
            </audio>
          </div>
          <div class="card-action">
            <div class="">
              <a href="https://www.amazon.co.uk/Rembrandts-Mirror-Kim-Devereux/dp/1782396748?ie=UTF8&keywords=rembrandts%20mirror&qid=1438074547&ref_=sr_1_1&sr=8-1" class="waves-effect waves-light btn" target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i></a>
              <a href="http://www.audible.co.uk/search/ref=a_hp_tseft?advsearchKeywords=rembrandts+mirror&filterby=field-keywords&sprefixRefmarker=nb_sb_ss_i_0_9&sprefix=rembrandt" class="waves-effect waves-light btn" target="_blank">Audible.co.uk</a>
            </div>
          </div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_2">
        <div class="card">
          <div class="card-image">
            <img src="/images/book.jpg">
          </div>
          <div class="card-content">
            <p>Book extract</p>
          </div>
          <div class="card-action">
            <a href="/pdf/Rembrandt's Mirror EXTRACT WITH COVER2.pdf" class="waves-effect waves-light btn" target="_blank">Open</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
