---
layout: default
---
<section id="home">
  <div class="wrapper">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5 col_1">
        <div class="main_animated">
            <p class="first anim_2">&emsp;<span>K</span> im Devereux is the author of Rembrandt’s Mirror, a debut novel about the turbulent world of the master painter Rembrandt and the three women who shaped housemaid. Kim is also an award-winning short-film director and producer of documentaries. She holds an MA in History of Art and English Literature from the University of Edinburgh and an MA from Bath Spa in Creative Writing</p>
            <div class="signature">
              <img class="pure-img rem anim_2" src="/images/singnature1.png" alt="" />
            </div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-5 col_2">
          <img class="pure-img anim_2" src="/images/kim.jpg" alt=""/>
      </div>
    </div>
  </div>
</section>
