---
layout: default
---

<section id="interviews">
  <div class="wrapper main_animated">
    <h3 class="anim_1">interviews</h3>
    <hr>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-5 col_2">
        <h1 class="anim_1">Radio interviews</h1>
        <div class="card">
          <div class="card-image">
            <img class="pure-img" src="/images/radio_interview2.jpg">
            <img class="pure-img" src="/images/Screenshot 2015-08-10 14.46.09.jpg" alt="" />
          </div>
          <div class="card-content">
            <p><strong>BBC Ulster Art Show</strong> Steven Rainey speaks to Kim Devereux about Rembrandt’s Mirror.</p>
            <br>
            <audio controls preload="auto">
              <source src="/mp3/ArtsShowUlster.m4a">
              <source src="/mp3/ArtsShowUlster.ogg">
              <source src="/mp3/ArtsShowUlster.wav">
            </audio>
          </div>
          <div class="card-action">
            <img class="pure-img" src="/images/unnamed.png" alt="" />
            <p>BBC Radio Four <strong>Woman’s Hour</strong> Emma Barnett speaks to Kim Devereux and poet Claire Pollard about male muses.</p>
            <audio controls preload="auto">
              <source src="/mp3/Woman_39_s_Hour_Muses.m4a">
              <source src="/mp3/Woman_39_s_Hour_Muses.ogg">
              <source src="/mp3/Woman_39_s_Hour_Muses.wav">
            </audio>
          </div>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5 col_1">
        <h1 class="anim_1">Blogs in 2015</h1>
        <div class="pure-g tiles">
          <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
            <div class="hovereffect anim_2">
              <img class="pure-img" src="/images/blog_tour.jpg" alt="">
              <div class="overlay">
                <h2>6th August - The Book Trailbr</h2>
                <p>
                  <a href="http://www.thebooktrail.com/book-trails/rembrandts-mirror/" class="waves-effect waves-light btn" target="_blank">open</a>
                </p>
              </div>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
            <div class="hovereffect anim_2">
              <img class="pure-img" src="/images/blog_tour3.jpg" alt="">
              <div class="overlay">
                <h2>10 August – The Book Divas Reads</h2>
                <p>
                  <a href="http://www.thebookdivasreads.com/2015/08/guest-post-kim-devereux-author-of.html" class="waves-effect waves-light btn" target="_blank">open</a>
                </p>
              </div>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
            <div class="hovereffect anim_2">
              <img class="pure-img" src="/images/blog_tour2.jpg" alt="">
              <div class="overlay">
                <h2>8 August – It Takes a Woman</h2>
                <p>
                  <a href="http://www.ittakesawoman.co.uk/blog/2015/08/08/blog-tour-rembrandts-mirror-an-interview-with-hendrickje-rembrandtsmirror/" class="waves-effect waves-light btn" target="_blank">open</a>
                </p>
              </div>
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
            <div class="hovereffect anim_2">
              <img class="pure-img" src="/images/blog_tour1.jpg" alt="">
              <div class="overlay">
                <h2>7 August – Novel Kicks</h2>
                <p>
                  <a href="http://www.novelkicks.co.uk/?s=rembrandt%27s+mirror" class="waves-effect waves-light btn" target="_blank">open</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
