---
layout: default
---

<section id="working_rm">
  <div class="wrapper main_animated">
    <h3 class="anim_1">Picture references</h3>
    <hr>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 col_1">

        <!--                    first card                            -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="https://lh4.ggpht.com/gVvxR9k2Ys7dTInMwCRUCXWF8l3AOpf3FLOXMT1DBbeoOjA-fZMzofN7_5oPTbRUrxn_SS_IUd4UANIoqgHuSsEDRw=s0" title="The Night Watch (1642), Rijksmuseum, Amsterdam">
            <div class="card-image">
              <img  class="pure-img"src="https://lh4.ggpht.com/gVvxR9k2Ys7dTInMwCRUCXWF8l3AOpf3FLOXMT1DBbeoOjA-fZMzofN7_5oPTbRUrxn_SS_IUd4UANIoqgHuSsEDRw=s0">
            </div>
            <div class="card-content">
              <p>The Night Watch (1642), Rijksmuseum, Amsterdam</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://images.metmuseum.org/CRDImages/dp/web-large/DP800559.jpg" title="">
            <div class="card-image">
              <img  class="pure-img"src="http://images.metmuseum.org/CRDImages/dp/web-large/DP800559.jpg">
            </div>
            <div class="card-content">
              <p>Woman on a Gibbet (1664), Robert Lehman Collection, New York</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://www.rembrandtpainting.net/rmbrndt_selected_drawings/drawing_images/woman_in_bed.jpg" title="Saskia Lying in Bed, a Woman sitting at her Feet (c.1635–38), Staatliche Graphische Sammlung, Munich">
            <div class="card-image">
              <img  class="pure-img"src="http://www.rembrandtpainting.net/rmbrndt_selected_drawings/drawing_images/woman_in_bed.jpg">
            </div>
            <div class="card-content">
              <p>Saskia Lying in Bed, a Woman sitting at her Feet (c.1635–38), Staatliche Graphische Sammlung, Munich</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://1.bp.blogspot.com/-reoUqwbTcoU/U6VBJP2cBrI/AAAAAAAA1Zo/xSUDLA-XsMk/s1600/1647c+Jan+Six+with+a+Dog,+Standing+by+an+Open+Window+22+x+17.5+cm+Six+Collection,+Amsterdam.jpg" title="Jan Six with a Dog, Standing by an Open Window (c.1646), Six Collection, Amsterdam">
            <div class="card-image">
              <img  class="pure-img"src="http://1.bp.blogspot.com/-reoUqwbTcoU/U6VBJP2cBrI/AAAAAAAA1Zo/xSUDLA-XsMk/s1600/1647c+Jan+Six+with+a+Dog,+Standing+by+an+Open+Window+22+x+17.5+cm+Six+Collection,+Amsterdam.jpg">
            </div>
            <div class="card-content">
              <p>Jan Six with a Dog, Standing by an Open Window (c.1646), Six Collection, Amsterdam</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Jan_Six_-_Rembrandt.jpg/800px-Jan_Six_-_Rembrandt.jpg" title="Portrait of Jan Six (1654), Six Collection">
            <div class="card-image">
              <img  class="pure-img"src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Jan_Six_-_Rembrandt.jpg/800px-Jan_Six_-_Rembrandt.jpg">
            </div>
            <div class="card-content">
              <p>Portrait of Jan Six (1654), Six Collection</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://www.britishmuseum.org/collectionimages/AN00030/AN00030098_001_l.jpg" title="The Shell (1650), The British Museum, London">
            <div class="card-image">
              <img  class="pure-img"src="http://www.britishmuseum.org/collectionimages/AN00030/AN00030098_001_l.jpg">
            </div>
            <div class="card-content">
              <p>The Shell (1650), The British Museum, London</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="https://www.mauritshuis.nl/-/media/02c9775fc22f49e398e55d79e59c945e.ashx?mh=500&mw=500" title="The Anatomy Lesson of Dr. Nicolaes Tulp (1632), Mauritshuis, The Hague">
            <div class="card-image">
              <img  class="pure-img"src="https://www.mauritshuis.nl/-/media/02c9775fc22f49e398e55d79e59c945e.ashx?mh=500&mw=500">
            </div>
            <div class="card-content">
              <p>The Anatomy Lesson of Dr. Nicolaes Tulp (1632), Mauritshuis, The Hague</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="/images/working_rm/13. Return of the Prodigal Son.jpg" title="The Return of the Prodigal Son (c.1650–1655), Fondation Custodia, Collection Frits Lugt, Paris">
            <div class="card-image">
              <img  class="pure-img"src="/images/working_rm/13. Return of the Prodigal Son.jpg">
            </div>
            <div class="card-content">
              <p>The Return of the Prodigal Son (c.1650–1655), Fondation Custodia, Collection Frits Lugt, Paris</p>
            </div>
          </a>
        </div>
        <!-- end -->

      </div>

      <!--                    second card                            -->
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 col_2">

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://www.psychiatryonline.org/na101/home/literatum/publisher/app/journals/content/ajp/2004/ajp.2004.161.issue-1/appi.ajp.161.1.26/production/images/large/m45f1.jpeg" title="St Jerome in a Dark Chamber (1642), Metropolitan Museum of Art, New York">
            <div class="card-image">
              <img  class="pure-img"src="http://www.psychiatryonline.org/na101/home/literatum/publisher/app/journals/content/ajp/2004/ajp.2004.161.issue-1/appi.ajp.161.1.26/production/images/large/m45f1.jpeg">
            </div>
            <div class="card-content">
              <p>St Jerome in a Dark Chamber (1642), Metropolitan Museum of Art, New York</p>
            </div>
          </a>
        </div>
        <!-- end -->


        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://gateway.ntpl.org.uk/hppa-zooms/00000000690/cms_pcf_810136.bro" title="St Jerome in a Dark Chamber (1642), Metropolitan Museum of Art, New York">
            <div class="card-image">
              <img  class="pure-img"src="http://gateway.ntpl.org.uk/hppa-zooms/00000000690/cms_pcf_810136.bro">
            </div>
            <div class="card-content">
              <p>Self-portrait at the age of 34 (1640) National Gallery, London</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://media.nga.gov/public/objects/1/2/0/1/1201-primary-0-440x400.jpg" title="The Mill (1645–1648), National Gallery Washington, Widener Collection (oil painting)">
            <div class="card-image">
              <img  class="pure-img"src="http://media.nga.gov/public/objects/1/2/0/1/1201-primary-0-440x400.jpg">
            </div>
            <div class="card-content">
              <p>The Mill (1645–1648), National Gallery Washington, Widener Collection (oil painting)</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://gateway.ntpl.org.uk/lowres/ntpl/3/00000000048/1061090.bro" title="Self-portrait wearing a white feathered Bonnet (1635), Buckland Abbey, National Trust Collections">
            <div class="card-image">
              <img  class="pure-img"src="http://gateway.ntpl.org.uk/lowres/ntpl/3/00000000048/1061090.bro">
            </div>
            <div class="card-content">
              <p>Self-portrait wearing a white feathered Bonnet (1635), Buckland Abbey, National Trust Collections</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://www.artbible.info/images/dani_leeuwenkuil_grt.jpg" title="Self-portrait wearing a white feathered Bonnet (1635), Buckland Abbey, National Trust Collections">
            <div class="card-image">
              <img  class="pure-img"src="http://www.artbible.info/images/dani_leeuwenkuil_grt.jpg">
            </div>
            <div class="card-content">
              <p>Daniel in the Lion’s Den (c.1649), Rijksprentenkabinet, Rijksmuseum, Amsterdam</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://www.nationalgallery.org.uk/server.iip?FIF=/fronts/N-0054-00-000035-WZ-PYR.tif&CNT=1&HEI=371&QLT=85&CVT=jpeg" title="Woman Bathing in a Stream (1654), also known as Callisto in the Wilderness, National Gallery, London">
            <div class="card-image">
              <img  class="pure-img"src="http://www.nationalgallery.org.uk/server.iip?FIF=/fronts/N-0054-00-000035-WZ-PYR.tif&CNT=1&HEI=371&QLT=85&CVT=jpeg">
            </div>
            <div class="card-content">
              <p>Woman Bathing in a Stream (1654), also known as Callisto in the Wilderness, National Gallery, London</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="https://lh4.ggpht.com/hHnisOJzPQVtGrhY2X6XLrbYPFaDShvI74NLhLKfTVbcYbVFNd__-HRHkmbHKg9lmbPzKPMRx-NaOo8FbcD1vhwns14=s0" title="The Jewish Bride (c1665–1669), Rijksmuseum, Amsterdam. Also known as Isaak and Rebecca">
            <div class="card-image">
              <img  class="pure-img"src="https://lh4.ggpht.com/hHnisOJzPQVtGrhY2X6XLrbYPFaDShvI74NLhLKfTVbcYbVFNd__-HRHkmbHKg9lmbPzKPMRx-NaOo8FbcD1vhwns14=s0">
            </div>
            <div class="card-content">
              <p>The Jewish Bride (c1665–1669), Rijksmuseum, Amsterdam. Also known as Isaak and Rebecca</p>
            </div>
          </a>
        </div>
        <!-- end -->

      </div>


      <!--                   thirt card                            -->
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 col_3">
        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://rembrandt.louvre.fr/_commun/rembrandt/zoom_jpg/r13.jpg" title="The Supper at Emmaus (1648), Louvre, Paris, signed and dated">
            <div class="card-image">
              <img  class="pure-img"src="http://rembrandt.louvre.fr/_commun/rembrandt/zoom_jpg/r13.jpg">
            </div>
            <div class="card-content">
              <p>The Supper at Emmaus (1648), Louvre, Paris, signed and dated</p>
            </div>
          </a>
        </div>
        <!-- end -->


        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://uploads3.wikiart.org/images/rembrandt/ledikant-1646.jpg!Large.jpg" title="The French Bed (1646) Teylers Museum, Haarlem. Also known as The Ledikant">
            <div class="card-image">
              <img  class="pure-img"src="http://uploads3.wikiart.org/images/rembrandt/ledikant-1646.jpg!Large.jpg">
            </div>
            <div class="card-content">
              <p>The French Bed (1646) Teylers Museum, Haarlem. Also known as The Ledikant</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://www.britishmuseum.org/collectionimages/AN00081/AN00081757_001_m.jpg" title="A Woman Sleeping (c.1654), The British Museum, London">
            <div class="card-image">
              <img  class="pure-img"src="http://www.britishmuseum.org/collectionimages/AN00081/AN00081757_001_m.jpg">
            </div>
            <div class="card-content">
              <p>A Woman Sleeping (c.1654), The British Museum, London.</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="https://lh4.ggpht.com/A3CZT6iyabBDOJG_vHnNf-vwWnmQcUz8m-9cUl2VEIOMPeR48uFPh5S_MigvhHBk-UwNqyzh_PksjPtEUMGElHiqgg=s0" title="Self-Portrait by a Window (1648), Rijksmuseum">
            <div class="card-image">
              <img  class="pure-img"src="https://lh4.ggpht.com/A3CZT6iyabBDOJG_vHnNf-vwWnmQcUz8m-9cUl2VEIOMPeR48uFPh5S_MigvhHBk-UwNqyzh_PksjPtEUMGElHiqgg=s0">
            </div>
            <div class="card-content">
              <p>Self-Portrait by a Window (1648), Rijksmuseum</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://5sec.info/files/images/large/rembrandt-vozvrashhenie-bludnogo-syna.jpg" title="The Return of the Prodigal Son (c.1650–1655), Fondation Custodia, Collection Frits Lugt, Paris.">
            <div class="card-image">
              <img  class="pure-img"src="http://5sec.info/files/images/large/rembrandt-vozvrashhenie-bludnogo-syna.jpg">
            </div>
            <div class="card-content">
              <p>The Return of the Prodigal Son (c.1650–1655), Fondation Custodia, Collection Frits Lugt, Paris.</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="http://collections.frick.org/internal/media/dispatcher/3394/resize:format=preview" title="Self-Portrait (1658), The Frick Collection, New York">
            <div class="card-image">
              <img  class="pure-img"src="http://collections.frick.org/internal/media/dispatcher/3394/resize:format=preview">
            </div>
            <div class="card-content">
              <p>Self-Portrait (1658), The Frick Collection, New York</p>
            </div>
          </a>
        </div>
        <!-- end -->

        <!-- start -->
        <div class="card anim_2">
          <a class="image-popup-vertical-fit" href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Rembrandt_Self-portrait_%28Kenwood%29.jpg/300px-Rembrandt_Self-portrait_%28Kenwood%29.jpg" title="Self-portrait with Two Circles (1665–1669), also known as the Kenwood Self-Portrait, Kenwood House, London">
            <div class="card-image">
              <img  class="pure-img"src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Rembrandt_Self-portrait_%28Kenwood%29.jpg/300px-Rembrandt_Self-portrait_%28Kenwood%29.jpg">
            </div>
            <div class="card-content">
              <p>Self-portrait with Two Circles (1665–1669), also known as the Kenwood Self-Portrait, Kenwood House, London</p>
            </div>
          </a>
        </div>
        <!-- end -->

      </div>
    </div>
  </div>
</section>
