---
layout: default
---
<section id="mirror">
  <div class="wrapper">
    <div class="pure-g">
      <div class="wrapper">
        <div class="main_animated signature_mirror pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
          <img class="pure-img rem anim_2" src="/images/singnature1.png" alt="" />
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5 col_1">
        <div class="main_animated">
        <div class="anim_2">
          <p class="first">&emsp;<span class="span">R</span> embrandt's Mirror has been longlisted for the 2016 HWA Goldsboro Debut Crown Award <a href="http://historicalwriters.org/the-hwa-reveals-2016-goldsboro-debut-crown-longlist/" target="_blank">click here</a> for the longlist.</p>
          <p class="first">&emsp;<span class="span">R</span> embrandt’s Mirror has been selected for <span class="bold">W H S m i t h</span> Travel’s Fresh Talent promotion, showcasing the best in new and emerging authors <a href="http://blog.whsmith.co.uk/fresh-talent-summer-2016/" target="_blank">click here</a></p>
          <blockquote><p>&emsp;  "A ravishing tale that kept me enthralled from beginning to end. A vision of what it means to live, to love and to be mortal - its warmth, intensity and intimacy stays with me still.” Samantha Harvey, author of The Wilderness and Dear Thief</p></blockquote>
          <blockquote><p>&emsp;  “The writing is laced with painterly description and art theory, giving the impression that we are looking at his world through an artist’s eyes. We are swept along in a rich, assured narrative that sees both maid and master hold up a mirror to each other, for the most brutally honest of self-portraits...
          A compelling story.”
          <div class="cite">
            <cite>Sunday Telegraph.</cite>
          </div>
          </p></blockquote>
          <blockquote><p>&emsp;  “[A] moving affirmation of the importance of love in the face of the mortality that Rembrandt reflects in his art.”
            <div class="cite">
              <cite>Sunday Times</cite>
            </div>
          </p></blockquote>
          <blockquote>
            <p>&emsp;  “Devereux uses words like watercolours - her descriptions are vital and give the book an authenticity that transports the reader back to the 1600s. The novel soon becomes a page turner.”</p>
            <div class="cite">
              <cite>—LN, from Buzz</cite>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-2-5 col_2">
        <img class="pure-img" src="/images/book.jpg">
      </div>
    </div>
  </div>
</section>

<section id="article">
  <div class="wrapper">
    <div class="main_animated">
      <h3 class="anim_1">Synopsis</h3>
      <hr>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_1">
        <div class="anim_2">
          <p>&emsp;  Hendrickje, a girl from a strict Calvinist family leaves her provincial home to find work as a housemaid. She enters Rembrandt’s flourishing workshop five years after the death of the great artist’s wife, an event that continues to haunt him. It is a house full of secrets and desires, and Hendrickje soon witnesses a sexual encounter between Rembrandt and Geertje, his implacable housekeeper. She is shocked to the core by their intense carnality and yet, slowly, she is drawn to Rembrandt by the freshness with which he perceives the world and the special freedom he seems to possess.</p>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 col_2">
        <div class="anim_2">
          <p>&emsp;  But Rembrandt is a man of dark corners, strange passions and a ruthlessness born from his need to put his art first. A life with Rembrandt represents danger as well as the possibility of true love.</p>
          <p>&emsp;  Seen through the eyes of Hendrickje, Rembrandt’s Mirror explores the three women of Rembrandt’s life, and how to discover beauty in every wrinkle of humanity.</p>
        </div>
        </div>
      </div>
      <div class="flex">
        <div class="but">
          <a href="https://www.amazon.co.uk/Rembrandts-Mirror-Novel-Famous-Painter/dp/1782396764/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1439385288&sr=1-1" target="_blank" class="waves-effect waves-light btn"><i class="fa fa-amazon" aria-hidden="true"></i></a>
          <a href="https://www.waterstones.com/book/rembrandts-mirror/kim-devereux/9781782396765" target="_blank" class="waves-effect waves-light btn">Waterstones</a>
          <a href="http://www.foyles.co.uk/witem/fiction-poetry/rembrandts-mirror-a-novel-of-the,kim-devereux-9781782396765" target="_blank" class="waves-effect waves-light btn">foyles</a>
        </div>
      </div>
    </div>
  </div>
</section>
