
<footer class="page-footer">
  <div class="footer-copyright">
    © 2016 Kim Deveureux. All Rights Reserved.
    <a href="https://www.facebook.com/people/Kim-Devereux/100009650811119" class="btn-floating blue" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  </div>
</footer>
