<header>
  <nav>
    <div class="nav-wrapper">
      <a href="{{ site.baseurl }}/" class="brand-logo">Kim Devereux</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a class='dropdown-button' href='#' data-activates='dropdown1'>Rembrandt's Mirror  <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
        <ul id='dropdown1' class='dropdown-content'>
          <li><a href="{{ site.baseurl }}/rembrandt's_mirror"><i class="fa fa-angle-right" aria-hidden="true"></i>  Rembrandt's Mirror</a></li>
          <li><a href="{{ site.baseurl }}/extracts"><i class="fa fa-angle-right" aria-hidden="true"></i>  Extracts</a></li>
          <li><a href="{{ site.baseurl }}/picture_references"><i class="fa fa-angle-right" aria-hidden="true"></i>  Picture references</a></li>
          <li><a href="{{ site.baseurl }}/book_club"><i class="fa fa-angle-right" aria-hidden="true"></i>  Book clubs</a></li>
          <li><a href="{{ site.baseurl }}/characters"><i class="fa fa-angle-right" aria-hidden="true"></i>  Characters</a></li>
        </ul>
        <li><a href="{{ site.baseurl }}/interviews">Interviews</a></li>
        <li><a href="{{ site.baseurl }}/articles">Articles</a></li>
        <li><a href="{{ site.baseurl }}/events">Events</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{{ site.baseurl }}/"><i class="fa fa-angle-right" aria-hidden="true"></i>  Home</a></li>
        <li><a href="{{ site.baseurl }}/rembrandt's_mirror"><i class="fa fa-angle-right" aria-hidden="true"></i>  Rembrandt's Mirror</a></li>
        <li><a href="{{ site.baseurl }}/extracts"><i class="fa fa-angle-right" aria-hidden="true"></i>  Extracts</a></li>
        <li><a href="{{ site.baseurl }}/picture_references"><i class="fa fa-angle-right" aria-hidden="true"></i>  Picture references</a></li>
        <li><a href="{{ site.baseurl }}/book_club"><i class="fa fa-angle-right" aria-hidden="true"></i>  Book clubs</a></li>
        <li><a href="{{ site.baseurl }}/characters"><i class="fa fa-angle-right" aria-hidden="true"></i>  Characters</a></li>
        <li><a href="{{ site.baseurl }}/interviews"><i class="fa fa-angle-right" aria-hidden="true"></i>  Interviews</a></li>
        <li><a href="{{ site.baseurl }}/articles"><i class="fa fa-angle-right" aria-hidden="true"></i>  Articles</a></li>
        <li><a href="{{ site.baseurl }}/events"><i class="fa fa-angle-right" aria-hidden="true"></i>  Events</a></li>
        <li><a href="{{ site.baseurl }}/contact"><i class="fa fa-angle-right" aria-hidden="true"></i>  Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
