@import "tools/tools";
@import "materialize";
@import "fade";
@import "animate";
@import "magnific";

$button-color: #FFC222;
$white: #FFFFFF;
$grey-dark: #626569;
$dark-color: #1e242e;
$background-color: #faf8f4;
$text-color: #F3EEE6;
$green: rgb(78, 136, 65);
$black: rgb(50, 50, 50);
$golden: #AE955F;

$col-1: #BCB7B6;
$col-2: #F0E9DC;
$col-3: #CCC1B8;

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  line-height: 1.6;
  color: $dark-color;
}

h1{
  font-size: 3em;
  text-transform: uppercase;
  color: #AD975D;
}

h3 {
  font-family: 'Cookie', cursive;
  text-align: center;
  font-size: 5em;
  color: #AD975D;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

a {
  outline: none;
}

.signature {
  padding: 2em 0 2em 4em;
  .rem {
    width: 80%;
  }
}

.signature_mirror {
  padding: 1em 0 1em 2em;
}

hr {
  width: 10%;
}

.animated{
  @include animation-delay(.1s);
}

@mixin but($font-sz, $but_color) {
  font-size: $font-sz;
  padding: .2em;
  transition: color 1s;
  text-decoration: none;
  color: $but_color;
  font-weight: bold;
  background-color: $green;
  &:hover{
    color: $white;
  }
}

.divider {
  border: solid 3px;
  border-bottom: 0;
  display: block;
  width: 30px;
  margin: 1em 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

//      home page
#home {
  padding: 2em 0 1.5em 0;
  .col_1 {
    padding: 1em 0;
    .first {
      line-height: 2.5;
    }
    p {
      padding-top: 1em;
      font-size: 1.1em;
      span {
        font-size: 2em;
        line-height: .5;
        color: $golden;
        font-weight: bold;
        font-family: 'Cookie', cursive;
      }
    }
  }
  .col_2 {
    padding-left: 3em;
    padding-top: 3em;
  }
}



/* --------------------------------
  contact us page
-------------------------------- */

#contanct {
  padding-bottom: 3em;
  .title {
    text-align: center;
  }
  .col_2 {
    padding: 3em 0 0 0;
    .social {
      i {
        font-size: 3em;
      }
    }
  }
  .form{
    text-align: center;
    padding: 2em 0;
    .input {
      background-color: inherit;
      font-size: 1.1em;
      height: 3em;
      border: 0;
      width: 80%;
      transition: box-shadow 1s;
      outline: none;
      box-shadow: -6px 9px 0px -7px $text-color, 8px 10px 0px -10px $text-color;
      transition: all ease-in-out 1000ms;
    }
    .mess {
      width: 90%;
    }
    .input:focus {
      outline: none;
      box-shadow: -6px 8px 0px -7px $main-color, 8px 10px 0px -10px $main-color;
    }
    .but{
      margin-top: .3em;
      text-align: center;
      .but{
        font-size: 1.1em;
        padding: .2em;
        border: 1px solid $grey-dark;
        background: rgba(255, 255, 255, 0.0);
        transition: all ease-in-out 300ms;
        &:hover{
          border: 1px solid $main-color;
          color: $main-color;
        }
      }
    }
  }
}


/* --------------------------------
  mirrror page
-------------------------------- */
#mirror{
  .span {
    font-size: 2em;
    font-weight: bold;
    color: $golden;
    font-family: 'Cookie', cursive;
  }
  .bold {
    font-weight: bold;
    font-family: 'Cookie', cursive;
    font-size: 1.6em;
    color: $golden;
  }
  a {
    padding: .5em .5em .5em .5em;
    transition: all ease-in-out 500ms;
    &:hover {
      background-color: $main-color;
      color: white;
    }
  }
  padding: 1em 0;
  .col_1 {
    padding: 0 1em 0 1em;
    .first {
      line-height: 1.6;
    }
    p {
      line-height: 2.2;
      font-size: 1.1em;
    }
    .cite {
      text-align: right;
    }
  }
  .col_2 {
    padding-top: 2em;
  }
}


#article {
  padding-bottom: 2em;
  p {
    font-size: 1.1em;
    line-height: 2.2;
  }
  .col_1 {
    padding: 1em .5em 1em .5em;
  }
  .col_2 {
    padding: 1em .5em 1em .5em;
  }
  .flex {
    padding-left: 1em;
    display: flex;
    justify-content: space-between;
    .but {
      padding-top: 1em;
    }
  }
}


/* --------------------------------
  Events page
-------------------------------- */


#events {
  .col {
    p {
      font-size: 1.1em;
      line-height: 2;
    }
    padding: 2em 0;
    .col_1 {
      padding-right: 1em;
      .title {
        font-weight: bold;
      }
    }
    .col_2 {
      padding-top: 2em;
      padding-left: 1em;
    }
  }
}

/* --------------------------------
  extracts page
-------------------------------- */

#extracts {
  p {
    font-size: 1.2em;
  }
  span {
    font-weight: bold;
  }
  .col_1 {
    padding-right: .5em;
    text-align: center;
  }
  .col_2 {
    padding-left: .5em;
    text-align: center;
  }
}

/* --------------------------------
  book club page
-------------------------------- */

#book_club {
  padding-bottom: 3em;
  .col_1 {
    padding-right: .5em;
    li {
      font-size: 1.1em;
      line-height: 2;
    }
  }
  .col_2 {
    padding-left: .5em;
    p {
      font-size: 1.1em;
      line-height: 2;
    }
  }
}
/* --------------------------------
  characters page
-------------------------------- */
#characters {
  line-height: 2;
  font-size: 1.1em;
  h3 {
    font-size: 3.5em;
  }
  .col_1 {
    padding: 0 1.5em 0 1.5em;
  }
  .col_2 {
    padding: 0 1.5em 0 1.5em;
  }
}

/* --------------------------------
  interviews page
-------------------------------- */

#interviews {
  .col_1 {
    text-align: center;
    padding: 0 1em 0 1em;
  }
  .col_2 {
    text-align: center;
  }
}


/* --------------------------------
  working_rm page
-------------------------------- */

#working_rm {
  p {
    color: $dark-color;
  }
  .col_1 {
    padding-right: .5em;
  }
  .col_2 {
    padding-left: .5em;
  }
  .col_3 {
    padding-left: .5em;
  }
}


#small-dialog {
  p {
    line-height: 2;
    font-size: 1.2em;
  }
}
